<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">june</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/homework</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping class="com.june.Entity.Employee" package="com.june.Entity"/>
  <mapping class="com.june.Entity.Users" package="com.june.Entity"/>
  <mapping class="com.june.Entity.Content" package="com.june.Entity"/>
 </session-factory>
</hibernate-configuration>
